.button {
  display: inline-flex;
  transition: all 0.3s ease;
  text-decoration: none;
  padding: 0;
  background: transparent;
  margin: 0;
  border: none;
  gap: 10px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &[disabled] {
    cursor: default;
  }
}

@import 'button-primary';
@import 'button-outline';
