.button.button_primary {
  background-color: $color-primary;
  border-radius: 50px;
  color: $color-light;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 62px 15px;
  justify-content: center;

  @media (max-width: 991px) {
    padding: 6px 40px 9px;
    font-size: 16px;
  }

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    background-color: $color-white;
    color: $color-dark;
  }
  &.button_invert {
    background-color: $color-white;
    color: $color-dark;

    &:hover:not([disabled]),
    &:active:not([disabled]) {
      color: $color-white;
    }

    &:hover:not([disabled]) {
      background-color: #0574fe;
    }

    &:active:not([disabled]) {
      background: #2364dc;
    }
  }

  &[disabled] {
    background-color: #ced2da;
    color: $color-white;
  }
}
