<div class="cookies">
  <div class="cookies__container">
    <div class="cookies__text"><%= @cookies.title %><span>cookies</span>
    </div>
    <button class="button button_primary cookies__button"><%= @cookies.btn %>
    </button>
  </div>
</div>
