<div class="mobile-rotate">
  <div class="mobile-rotate__logo"></div>
  <div class="mobile-rotate__content">
    <div class="mobile-rotate__icon"><img src="assets/icons/mobile.png" alt=""/></div>
    <div class="mobile-rotate__text">Поверните ваше <br> устройство!
    </div>
  </div>
</div>