<div class="popup popup__qr-code" id="popup-qr-01">
  <div class="popup__container">
    <div class="popup__close"><img src="/assets/icons/close.svg" alt=""/></div>
    <div class="qr-code"><img src="/assets/qr-code-01.png" alt=""/></div>
  </div>
</div>
<div class="popup popup__qr-code" id="popup-qr-02">
  <div class="popup__container">
    <div class="popup__close"><img src="/assets/icons/close.svg" alt=""/></div>
    <div class="qr-code"><img src="/assets/qr-code-02.png" alt=""/></div>
  </div>
</div>
