<div class="popup" id="popup-news">
  <div class="popup__container">
    <div class="popup__close"><img src="assets/icons/close.svg" alt=""/></div>
    <div class="container news__container"></div>
  </div>
</div>
