<div class="popup popup_command" id="popup-command">
  <div class="popup__container">
    <div class="popup__close"><img src="/assets/icons/close-white.svg" alt=""/></div>
    <div class="command">
      <% @command.each do |item| %>
        <div class="command__item">
          <div class="command__image">
            <% if item.image.attached? %>
              <img src="<%= url_for(item.image) %>" alt="" style="max-width: 95%; height: auto;"/>
            <% elsif !item.base_image_url.blank? %>
              <img src="/<%= url_for(item.base_image_url) %>" alt=""/>
            <% else %>
              <img src="/assets/placeholder.png" alt=""/>
            <% end %>
          </div>
          <div class="command__caption">
            <div class="command__name"><%= item.person %></div>
            <div class="command__post"><%= item.desc %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>