<div class="popup">
  <div class="popup__container">
    <div class="popup__close"><img src="assets/icons/close.svg" alt=""/></div>
    <div class="container">
      <%= @general['privacy_policy'][0]['text'] %>
    </div>
  </div>
</div>