<div class="popup-footer">
  <div class="container">
    <div class="popup-footer__copy">
      <%= @titles['copy'][0]['title'] %>
    </div>
    <a class="popup-footer__development" href="https://dsml.ru/" target="_blank">
      <%= @titles['made'][0]['title'] %><img src="/assets/dsml-logo-dark.svg" alt=""/>
    </a>
  </div>
</div>