<div class="about-page-head">
  <div class="container">
    <div class="h2">О компании</div>
  </div>
</div>
<div class="about-page-background">
  <div class="about-page-background__wrapper">
    <video class="about-page-background__video" autoplay="true" muted="muted" loop="true" playsinline="playsinline">
      <source src="assets/video/hero.mp4" type="video/mp4"/>
      <source src="assets/video/hero.webm" type="video/webm"/>
    </video>
  </div>
</div>
<div class="about-page-section about-page-section__title">
  <div class="container">
    <div class="about-page-title">За все время своей деятельности мы поставили более 1 000 000 тонн угля.</div>
  </div>
</div>
<div class="about-page-section about-page-section__mission">
  <div class="container">
    <div class="about-page-mission">
      <div class="about-page-mission__left">Наша миссия</div>
      <div class="about-page-mission__right">Мы целенаправлены на поддержку мировой промышленности путем обеспечения
        стабильных поставок высококачественной продукции. Стремимся к долгосрочным и взаимовыгодным отношениям с нашими
        клиентами и партнерами, предоставляя наилучший сервис и оптимальные решения.
      </div>
    </div>
  </div>
</div>
<div class="about-page-section about-page-section__slide-titles">
  <div class="about-page-slide-titles">
    <div class="about-page-slide-titles__item about-page-slide-titles__item_01">Качественно</div>
    <div class="about-page-slide-titles__item about-page-slide-titles__item_02">Оперативно</div>
    <div class="about-page-slide-titles__item about-page-slide-titles__item_03">Всегда на связи</div>
  </div>
</div>
<div class="about-page-section about-page-section__text">
  <div class="container">
    <div class="about-page-text">Основным направлением деятельности группы компаний «СИБСТАР» является поставка
      высококачественного каменного и коксующегося угля с угледобывающих предприятий Российской Федерации.
    </div>
  </div>
</div>
<div class="about-page-section about-page-section__info">
  <div class="container">
    <div class="info-block about-page-info-block">
      <div class="info-block__image">
        <img src="assets/about/image-01.jpg" alt="" srcset="assets/about/image-01.jpg 1x, assets/about/image-01@2x.jpg 2x"/>
      </div>
      <div class="info-block__caption">
        <div class="info-block__title">Преимущества</div>
        <div class="info-block__text">Благодаря выгодному расположению и совершенной логистики с российских угольных
          разрезов на Кузбассе, в Сибири и на Дальнем Востоке, мы обеспечиваем удобный доступ к международным рынкам.
        </div>
        <div class="info-block__text">Отгрузки энергоносителей осуществляются в адрес производственных гигантов. Наши
          ключевые партнеры — крупные промышленные предприятия Китая, Индии и Турции.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-page-section about-page-section__image">
  <div class="about-page-image">
    <img src="assets/about/image-02.jpg" alt="" srcset="assets/about/image-02.jpg 1x, assets/about/image-02@2x.jpg 2x"/>
  </div>
</div>
<div class="about-page-section about-page-section__command">
  <div class="about-page-command">
    <div class="container">
      <div class="about-page-command__title">Команда SibstarGroup</div>
    </div>
    <div class="about-page-command__outer"></div>
  </div>
</div>