<div class="sales-page__content">
  <div class="container">
    <div class="home-about-head sales-page-head">
      <div class="home-about-head__title">SIBSTAR GROUP</div>
      <h2 class="home-about-head__h2">Продажа нефтепродуктов</h2>
    </div>
    <div class="home-about-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide home-about-slider__slide">
          <div class="home-about-slider__content">
            <div class="home-about-slider__text">Мы расширяем не только географию сотрудничества, но&nbsp;и&nbsp;структуру
              поставляемой продукции.
            </div>
          </div>
          <div class="home-about-slider__image">
            <img src="assets/about-01.jpg" alt="" srcset="assets/about-01.jpg 1x, assets/about-01@2x.jpg 2x, assets/about-01@3x.jpg 3x"/>
          </div>
        </div>
        <div class="swiper-slide home-about-slider__slide">
          <div class="home-about-slider__content">
            <div class="home-about-slider__text">Отгрузки энергоносителей осуществляются в адрес производственных
              гигантов Юго-восточной Азии и Турции. Наши ключевые партнеры — крупные промышленные предприятия Китая и
              Турции.
            </div>
          </div>
          <div class="home-about-slider__image">
            <img src="assets/about-02.jpg" alt="" srcset="assets/about-02.jpg 1x, assets/about-02@2x.jpg 2x, assets/about-02@3x.jpg 3x"/>
          </div>
        </div>
        <div class="swiper-slide home-about-slider__slide">
          <div class="home-about-slider__content">
            <div class="home-about-slider__text">«СИБСТАР» — ваш надежный партнер для энергетического угля с 2019
              года.
            </div>
          </div>
          <div class="home-about-slider__image">
            <img src="assets/about-03.jpg" alt="" srcset="assets/about-03.jpg 1x, assets/about-03@2x.jpg 2x, assets/about-03@3x.jpg 3x"/>
          </div>
        </div>
      </div>
      <div class="home-about-slider-navigation">
        <div class="home-about-slider-navigation__item"></div>
      </div>
    </div>
    <div class="info-block sales-info-block">
      <div class="info-block__image">
        <img src="assets/sales/image-01.jpg" alt="" srcset="assets/sales/image-01.jpg 1x, assets/sales/image-01@2x.jpg 2x"/>
      </div>
      <div class="info-block__caption">
        <div class="info-block__title">Надежность</div>
        <div class="info-block__text">Группа компаний «СИБСТАР» поставляет энергетические ресурсы по всему миру.
          Благодаря нашим надежным партнерским отношениям и разветвленной логистической сети мы можем гарантировать
          своевременную и безопасную доставку нашей продукции, куда бы вы ее ни заказали.
        </div>
      </div>
    </div>
  </div>
</div>