@use 'sass:map';

.home-about {
  overflow: hidden;
  border-radius: 32px 32px 0px 0px;
  background: $color-light;
  position: relative;
  z-index: 10;
  padding-bottom: 190px;

  @media (max-width: 1349px) {
    padding-bottom: 100px;
  }

  @media (max-height: 480px) {
    padding-bottom: 60px;
  }

  &__command {
    .button {
      width: 100%;
      max-width: 380px;
    }
  }
}

.home-about-head {
  padding-top: 250px;
  padding-bottom: 150px;

  @media (max-width: 1349px) {
    padding-bottom: 90px;
  }

  @media (max-width: 991px) {
    padding-top: 90px;
  }

  @media (max-height: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    color: $color-dark;
    font-size: 152px;
    font-weight: 700;
    line-height: 1;

    @media (max-width: 1349px) {
      font-size: 112px;
    }

    @media (max-width: 991px) {
      font-size: 70px;
    }
  }

  &__h2 {
    padding-bottom: 67px;
    border-bottom: 1px solid $color-dark;

    @media (max-width: 991px) {
      padding-bottom: 30px;
    }
  }
}

.home-about-slider {
  $containerWidth: map.get($container-max-width-list, xl);
  width: 1610px;
  max-width: calc($containerWidth + (100vw - $containerWidth) / 2);
  margin-bottom: 60px;

  @media (max-width: 1349px) {
    $containerWidth: map.get($container-max-width-list, lg);
    max-width: calc($containerWidth + (100vw - $containerWidth) / 2);
  }

  @media (max-width: 991px) {
    max-width: calc(100vw - 20px);
  }

  &__slide {
    display: flex;
    gap: 120px;
    background-color: $color-light;

    @media (max-width: 991px) {
      gap: 40px;
    }
  }

  &__content {
    flex: 0 0 580px;
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1349px) {
      flex: 0 0 380px;
      width: 380px;
    }

    @media (max-width: 991px) {
      flex: 0 0 320px;
      width: 320px;
    }

    &:after {
      content: '';
      height: 38px;
    }
  }

  &__image {
    flex: 1 1 auto;
    overflow: hidden;

    @media (max-width: 991px) {
      height: 250px;
    }

    img {
      display: block;

      @media (max-width: 991px) {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__number {
    color: $color-primary;
    font-size: 38px;
    font-weight: 400;
    line-height: 1;

    @media (max-width: 991px) {
      font-size: 19px;
    }
  }

  &__text {
    color: $color-dark;
    font-size: 38px;
    font-weight: 400;
    line-height: 54px;

    @media (max-width: 1349px) {
      font-size: 30px;
      line-height: 46px;
    }

    @media (max-width: 991px) {
      font-size: 19px;
      line-height: 30px;
    }
  }
}

.home-about-slider-navigation {
  width: 580px !important;
  display: flex;
  gap: 20px;
  top: auto !important;
  bottom: 0 !important;
  position: absolute;
  z-index: 10;

  @media (max-width: 1349px) {
    width: 380px !important;
  }

  @media (max-width: 991px) {
    width: 320px !important;
  }

  &__bullet {
    flex: 1 1 auto;
    height: 4px;
    opacity: 1;
    cursor: pointer;
    background-color: $color-primary;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background-color: $color-primary;
    }

    &_active {
      background-color: rgba(37, 39, 57, 0.3);

      &:before {
        transition: width 3.5s 1s linear;
        width: 100%;
      }

      & ~ .home-about-slider-navigation__bullet {
        background-color: rgba(37, 39, 57, 0.3);
      }
    }
  }
}
