<div class="home-coal-sales-accordion">
  <div class="home-coal-sales-accordion__head">
    <div class="home-coal-sales-accordion__title">TOMSSH</div>
    <div class="home-coal-sales-accordion__icon"></div>
  </div>
  <div class="home-coal-sales-accordion__body">
    <table class="home-coal-sales-table">
      <tr>
        <td>Ash, dry basis, max, %</td>
        <td>20</td>
      </tr>
      <tr>
        <td>Moisture as received, typical, max %</td>
        <td>12,0</td>
      </tr>
      <tr>
        <td>Sulphur, dry basis, max, %</td>
        <td>0,5</td>
      </tr>
      <tr>
        <td>Volatiles, daf, max, %</td>
        <td>17</td>
      </tr>
      <tr>
        <td>Net calorific value as received, min, kcal/kg</td>
        <td>6800</td>
      </tr>
      <tr>
        <td>Size, mm</td>
        <td>0-50</td>
      </tr>
    </table>
    <div class="home-coal-sales__buttons"><a class="button button_outline button_invert" href="/pdf/SGS Т.pdf" target="_blank">Скачать SGS</a><a class="button button_primary button_invert popup-open" href="#popup-order">Купить уголь</a></div>
  </div>
</div>
