.about-page-title {
  color: $color-light;
  font-size: 80px;
  font-weight: 400;
  line-height: 88px;

  @media (max-width: 1349px) {
    font-size: 66px;
    line-height: 74px;
  }

  @media (max-width: 991px) {
    font-size: 50px;
    line-height: 58px;
  }

  @media (max-width: 767px) {
    font-size: 40px;
    line-height: 48px;
  }
}
