<div class="home-supply-basis-map-video home-supply-basis-map-video_dap">
  <div class="home-supply-basis-map-video__wrapper">
    <div class="home-supply-basis-map-video__poster"><img src="assets/video-map-dap.png" alt=""/></div>
    <video class="home-supply-basis-map-video__path home-supply-basis-map-video__path_dap-01" data-popup="dap-01" loop="true" muted="muted" playsinline="playsinline">
      <source src="assets/video/dap-01.mp4" type="video/mp4"/>
      <source src="assets/video/dap-01.webm" type="video/webm"/>
    </video>
    <video class="home-supply-basis-map-video__path home-supply-basis-map-video__path_dap-02" data-popup="dap-02" loop="true" muted="muted" playsinline="playsinline">
      <source src="assets/video/dap-02.mp4" type="video/mp4"/>
      <source src="assets/video/dap-02.webm" type="video/webm"/>
    </video>
    <video class="home-supply-basis-map-video__path home-supply-basis-map-video__path_dap-03" data-popup="dap-03" loop="true" muted="muted" playsinline="playsinline">
      <source src="assets/video/dap-03.mp4" type="video/mp4"/>
      <source src="assets/video/dap-03.webm" type="video/webm"/>
    </video>
    <div class="home-supply-basis-map-video__dot home-supply-basis-map-video__dot_dap-01" data-video="dap-01"></div>
    <div class="home-supply-basis-map-video__dot home-supply-basis-map-video__dot_dap-02" data-video="dap-02"></div>
    <div class="home-supply-basis-map-video__dot home-supply-basis-map-video__dot_dap-03" data-video="dap-03"></div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_dap-01">Михайло-Семёновская</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_dap-02">Тунцзян</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_dap-03">Гродеково</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_dap-04">Суйфэнхэ</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_dap-05">Камышовая</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_dap-06">Хунчунь</div>
    <div class="home-supply-basis-map-video-popup home-supply-basis-map-video-popup_dap-01">
      <div class="home-supply-basis-map-video-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-video-popup__head">
        <div class="home-supply-basis-map-video-popup__type">Речной порт</div>
        <div class="home-supply-basis-map-video-popup__city">Тунцзян</div>
      </div>
      <div class="home-supply-basis-map-video-popup__type">Базис доставки</div>
      <div class="home-supply-basis-map-video-popup__title">DAP</div>
      <button class="button button_primary popup-open" data-popup="popup-order">
        <%= @buttons['order'][0]['title'] %>
      </button>
    </div>
    <div class="home-supply-basis-map-video-popup home-supply-basis-map-video-popup_dap-02">
      <div class="home-supply-basis-map-video-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-video-popup__head">
        <div class="home-supply-basis-map-video-popup__type">Речной порт</div>
        <div class="home-supply-basis-map-video-popup__city">Суйфэнхэ</div>
      </div>
      <div class="home-supply-basis-map-video-popup__type">Базис доставки</div>
      <div class="home-supply-basis-map-video-popup__title">DAP</div>
      <button class="button button_primary popup-open" data-popup="popup-order">
        <%= @buttons['order'][0]['title'] %>
      </button>
    </div>
    <div class="home-supply-basis-map-video-popup home-supply-basis-map-video-popup_dap-03">
      <div class="home-supply-basis-map-video-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-video-popup__head">
        <div class="home-supply-basis-map-video-popup__type">Речной порт</div>
        <div class="home-supply-basis-map-video-popup__city">Хунчунь</div>
      </div>
      <div class="home-supply-basis-map-video-popup__type">Базис доставки</div>
      <div class="home-supply-basis-map-video-popup__title">DAP</div>
      <button class="button button_primary popup-open" data-popup="popup-order">
        <%= @buttons['order'][0]['title'] %>
      </button>
    </div>
  </div>
</div>
