<div class="home-supply-basis-map-video home-supply-basis-map-video_fob">
  <div class="home-supply-basis-map-video__wrapper">
    <div class="home-supply-basis-map-video__poster"><img src="assets/video-map-fob.png" alt=""/></div>
    <video class="home-supply-basis-map-video__path home-supply-basis-map-video__path_fob-01" data-popup="fob-01" loop="true" muted="muted" playsinline="playsinline">
      <source src="assets/video/fob-01.mp4" type="video/mp4"/>
      <source src="assets/video/fob-01.webm" type="video/webm"/>
    </video>
    <video class="home-supply-basis-map-video__path home-supply-basis-map-video__path_fob-02" data-popup="fob-02" loop="true" muted="muted" playsinline="playsinline">
      <source src="assets/video/fob-02.mp4" type="video/mp4"/>
      <source src="assets/video/fob-02.webm" type="video/webm"/>
    </video>
    <div class="home-supply-basis-map-video__dot home-supply-basis-map-video__dot_fob-01" data-video="fob-01"></div>
    <div class="home-supply-basis-map-video__dot home-supply-basis-map-video__dot_fob-02" data-video="fob-02"></div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_fob-01">Хабаровск</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_fob-02">Тунцзян</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_fob-03">Благовещенск</div>
    <div class="home-supply-basis-map-video__city home-supply-basis-map-video__city_fob-04">Хэйхе</div>
    <div class="home-supply-basis-map-video-popup home-supply-basis-map-video-popup_fob-01">
      <div class="home-supply-basis-map-video-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-video-popup__head">
        <div class="home-supply-basis-map-video-popup__type">Речной порт</div>
        <div class="home-supply-basis-map-video-popup__city">Тунцзян</div>
      </div>
      <div class="home-supply-basis-map-video-popup__type">Базис доставки</div>
      <div class="home-supply-basis-map-video-popup__title">fob</div>
      <button class="button button_primary popup-open" data-popup="popup-order">
        <%= @buttons['order'][0]['title'] %>
      </button>
    </div>
    <div class="home-supply-basis-map-video-popup home-supply-basis-map-video-popup_fob-02">
      <div class="home-supply-basis-map-video-popup__close"><img src="assets/icons/close.svg" alt=""/></div>
      <div class="home-supply-basis-map-video-popup__head">
        <div class="home-supply-basis-map-video-popup__type">Речной порт</div>
        <div class="home-supply-basis-map-video-popup__city">Хэйхе</div>
      </div>
      <div class="home-supply-basis-map-video-popup__type">Базис доставки</div>
      <div class="home-supply-basis-map-video-popup__title">fob</div>
      <button class="button button_primary popup-open" data-popup="popup-order">
        <%= @buttons['order'][0]['title'] %>
      </button>
    </div>
  </div>
</div>
